<a href="https://colab.research.google.com/github/Vishnudas41789/Employee-Attrition-using-pandas/blob/main/Employee_Attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/WA_Fn-UseC_-HR-Employee-Attrition.csv')
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [4]:
print(" Sample Data:\n", data.head())

 Sample Data:
    Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [5]:
print("\nDepartments:", data['Department'].unique())
print(" Genders:", data['Gender'].unique())

Departments: ['Sales' 'Research & Development' 'Human Resources']
 Genders: ['Female' 'Male']

In [6]:
attrition_count = data['Attrition'].value_counts()
print("\n Attrition Count:\n", attrition_count)

 Attrition Count:
 Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [10]:
avg_salary = data.groupby('Department')['MonthlyIncome'].mean()
print("\n Avg Salary by Department:\n", avg_salary)

 Avg Salary by Department:
 Department
Human Resources           6654.507937
Research & Development    6281.252862
Sales                     6959.172646
Name: MonthlyIncome, dtype: float64

In [13]:
avg_salary_gender = data.groupby('Gender')['MonthlyIncome'].mean()
print("\n Avg Salary by Gender:\n", avg_salary_gender)

 Avg Salary by Gender:
 Gender
Female    6686.566327
Male      6380.507937
Name: MonthlyIncome, dtype: float64

In [14]:
satisfaction_vs_attr = data.groupby('Attrition')['JobSatisfaction'].mean()
print("\n Avg Job Satisfaction vs Attrition:\n", satisfaction_vs_attr)

📈 Avg Job Satisfaction vs Attrition:
 Attrition
No     2.778589
Yes    2.468354
Name: JobSatisfaction, dtype: float64

In [19]:
at_risk = data[(data['MonthlyIncome'] < 35000) & (data['JobSatisfaction'] <= 2)]
print("\n At-Risk Employees:\n", at_risk[['EmployeeNumber', 'MonthlyIncome', 'JobSatisfaction']])

 At-Risk Employees:
       EmployeeNumber  MonthlyIncome  JobSatisfaction
1                  2           5130                2
4                  7           3468                2
6                 10           2670                1
10                14           2426                2
15                20           9980                1
...              ...            ...              ...
1461            2055          10854                1
1463            2057           9936                1
1466            2062           9991                1
1467            2064           6142                2
1468            2065           5390                2

[569 rows x 3 columns]